*{
    color: #fff;
}

header {
    overflow: hidden;
    transition: navbar-scroll;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

header .nav .nav-item .nav-link{
    color: #fff;
}

.navbar-scrolled {
    background-color: #f8f9fa !important; /* Cambia este color según tu preferencia */
    transition: background-color 0.3s ease-in-out;
}

.navbar-scrolled .nav-link, 
.navbar-scrolled .navbar-brand {
            color: #000 !important; /* Color del texto del navbar al hacer scroll */
            transition: color 0.3s ease-in-out;
        }


section.banner img{
    height: 100vh;
}


section.quienes-somos{
    background-color: #000;
}


section.quienes-somos .card{
    border: none;
    border-radius: 0;
    
}
section.quienes-somos .card .card-head{
    background-color: #03ceec;
    display: flex;
    justify-content: center;
    padding: 8px 0px;
}

section.quienes-somos .card .card-body{
    background-color: #000;
    color: #fff;
}


section.destacados{
    background-color: #000;
}

section.destacados .card img{
    max-height: 190px;
}

section.destacados .card .card-body{
    background-color: #03ceec;
}

section.form{
    background-color: #000;
}


footer{
    background-color: #03ceec;
}

section.form button{
    background-color: #03ceec;
    color: #fff;
}

footer i{
    font-size: 27.5px;
    margin-right: 15px;
}


.navbar-toggler{
    background-color: #000;
}


/* AQUI COMIENZA EL MEDIA QUERY */
@media screen and (max-width: 762px) {

    section.banner img{
        height: 30vh;
    }

    .card .card-mountain{
    display: flex;
    flex-direction: column-reverse;
    }
    
}